* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
}
header {
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
}
/* border: 1px solid black; */
.menu_button {
  display: flex;
}
.menu_button ul {
  display: flex;
  list-style: none;
}
.menu_button li {
  font-weight: bold;
  margin-top: 20px;
}
.menu_button i {
  margin-right: 20px;
  margin-left: 5px;
  font-size: 10px;
  padding-top: 23px;
}
.menu_button button {
  margin: 0px 20px;
  padding: 20px 40px;
  color: white;
  border-radius: 100px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  font-size: 15px;
  border: none;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Start {
  background: url(./Samar_img/pic2.png);
  background-size: 100%;
  background-position: top;
  padding-top: 180px;
  overflow: hidden;
}
.Start_cotainer {
  display: flex;
}
.Start_content h1 {
  color: #f55f8d;
  font-size: 22px;
  margin-bottom: 20px;
}
.Start_content h2 {
  font-size: 70px;
  font-weight: bold;
}
.Start_content h3 {
  font-size: 18px;
  display: inline-block;
  width: 45%;
  margin: 20px 0px;
  color: #636363;
}
.Start_content ul {
  list-style: none;
}
.Start_content li {
  display: flex;
}
.Start_content i {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 15px;
  border: none;
  margin: 10px 0px;
  padding-left: 10px;
  padding-top: 8px;
}
.Start_content p {
  font-size: 20px;
  margin-left: 20px;
  padding-top: 15px;
  color: #636363;
}
.Start_content button {
  padding: 20px 40px;
  color: white;
  border-radius: 100px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  font-size: 15px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
}
.Start_img {
  width: 40%;
}
.Start_img .img_hidden {
  width: 570px;
  margin-left: 50px;
}
.service {
  padding-top: 110px;
  padding-bottom: 0;
  background-image: url(./Samar_img/bg2.png);
  background-size: cover;
  /* background-position: top center; */
  text-align: center;
}
.service .service_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.service .service_title h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.service .service_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 30px; */
  margin-top: 40px;
}
